nav#nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top.navbar-fixed-width
    a.navbar-brand(href='/') YelpCamp
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNav')
        span.navbar-toggler-icon
    #mainNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            if currentUser
                li 
                    a.btn.my-2.my-sm-0(href="/user") #{currentUser.username}
                li
                    a.btn.my-2.my-sm-0(href='/logout') Log Out
            else
                li
                    a.btn.my-2.my-sm-0(href='/register') Sign Up
                li
                    a.btn.my-2.my-sm-0(href='/login') Log In
            
