nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
    a.navbar-brand(href='/') YelpCamp
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNav')
        span.navbar-toggler-icon
    #mainNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li
                a.btn.my-2.my-sm-0(href='/') Sign Up
            li
                a.btn.my-2.my-sm-0(href='/') Log In
            li
                a.btn.my-2.my-sm-0(href='/') Log Out
