<%- include("partials/header") %> 

<h1>This is the home page</h1>

<img src="https://st.depositphotos.com/1900347/4146/i/950/depositphotos_41466555-stock-photo-image-of-slice-of-pizza.jpg" alt="">

<%- include("partials/footer") %> 