extends partials/layout
block content
    h1 Sign Up

    form(action="/register", method="post")
        input(type="text", name="username", placeholder="username")
        input(type="password", name="password", placeholder="password")
        button(type="submit") Sign Up!